:root {
  /* Override default variables here */
  --font-size-display-multiplier: 1;
  --font-size-heading-multiplier: 1;
  --font-size-body-multiplier: 1;
  --font-size-label-multiplier: 1;

  --line-height-display-multiplier: 1;
  --line-height-heading-multiplier: 1;
  --line-height-body-multiplier: 1;
  --line-height-label-multiplier: 1;

  --default-border: var(--neutral-border-medium);

  /* Example setup for custom colors */
  /* Generate at: https://once-ui.com/customize */
  --scheme-brand-100: #200000;
  --scheme-brand-200: #370000;
  --scheme-brand-300: #870000;
  --scheme-brand-400: #ba000f;
  --scheme-brand-500: #e61637;
  --scheme-brand-600: #ff5f67;
  --scheme-brand-600-15: rgba(255, 95, 103, 0.15);
  --scheme-brand-600-30: rgba(255, 95, 103, 0.3);
  --scheme-brand-600-50: rgba(255, 95, 103, 0.5);
  --scheme-brand-700: #ff9799;
  --scheme-brand-800: #ffb6b6;
  --scheme-brand-900: #ffb6b6;
  --scheme-brand-1000: #ffb6b6;
  --scheme-brand-1100: #ffb6b6;
  --scheme-brand-1200: #ffb6b6;

  --scheme-accent-100: #090909;
  --scheme-accent-200: #161616;
  --scheme-accent-300: #404040;
  --scheme-accent-400: #5b5b5b;
  --scheme-accent-500: #777777;
  --scheme-accent-600: #959595;
  --scheme-accent-600-15: rgba(149, 149, 149, 0.15);
  --scheme-accent-600-30: rgba(149, 149, 149, 0.3);
  --scheme-accent-600-50: rgba(149, 149, 149, 0.5);
  --scheme-accent-700: #b4b4b4;
  --scheme-accent-800: #d4d4d4;
  --scheme-accent-900: #e1e1e1;
  --scheme-accent-1000: #eeeeee;
  --scheme-accent-1100: #f5f5f5;
  --scheme-accent-1200: #fcfcfc;

  --scheme-neutral-100: #09090a;
  --scheme-neutral-200: #161618;
  --scheme-neutral-300: #3f3f42;
  --scheme-neutral-400: #5a5a5d;
  --scheme-neutral-500: #747476;
  --scheme-neutral-600: #959597;
  --scheme-neutral-600-15: rgba(149, 149, 151, 0.15);
  --scheme-neutral-600-30: rgba(149, 149, 151, 0.3);
  --scheme-neutral-600-50: rgba(149, 149, 151, 0.5);
  --scheme-neutral-700: #b4b4b6;
  --scheme-neutral-800: #d4d4d6;
  --scheme-neutral-900: #e1e1e3;
  --scheme-neutral-1000: #eeeef1;
  --scheme-neutral-1100: #f5f5f7;
  --scheme-neutral-1200: #fbfbfe;
}
